.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
}
.card{
    background-color: #d6d6d6;
    padding: 2px;
    margin: 10px;
    text-align: center;
}
.filter{
    display: none;
}